{{ hero.name | uppercase }} is super cool! She has id number {{ hero.id }}.<br>


Wanna change her name? Type here:
<!-- per bindare il nome dell'hero, uso la formula [(ngModel)]="hero.name" -->
<input type="text" name="hero-name" id="hero-name" [(ngModel)]="hero.name">

<div>
    <h2>All the Heroes:</h2>
    <ul class="heroes">
        <!-- ciclo tutti gli elementi dell'array heroes come singoli hero usando la formula *ngFor per il ciclo for e la sintassi "let elem of array" -->
        <!-- (click) crea un evento click con la funzione -->
        <!-- [class.selected] aggiunge la classe selected per le condizioni specificate -->
        <li *ngFor="let hero of heroes" (click)="onSelected(hero)" [class.selected]="hero === selectedHero">
            <span class="badge">{{ hero.id }}</span> {{ hero.name }}
        </li>
    </ul>
</div>

<!-- aggiungo la componente dei dettagli passando selectedHero come hero  -->
<app-hero-detail [hero]="selectedHero"></app-hero-detail>